/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 958px;
  background: url(/image/banner.png);
  background-size: cover;
  background-position: center cneter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrap {
  color: white;
}
.header__wrap .title {
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
  margin-bottom: 32px;
}
.header__wrap .subtitle {
  font-weight: 700;
  margin-bottom: 40px;
}
.header__wrap .small {
  line-height: 42px;
  font-weight: 700;
}
.header__wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header__wrap .social__link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__wrap .social__link:hover {
  opacity: 0.8;
}

.footer {
  color: white;
  background: #000;
  padding: 64px 0;
  text-align: center;
}
.footer .title {
  font-size: 64px;
  line-height: 84px;
}
.footer .contact li:not(:last-child) {
  margin-bottom: 16px;
}
.footer .contact__link {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .contact__link:hover {
  color: blue;
}

.index .about .title, .index .brand .title, .index .other .title {
  font-size: 64px;
  line-height: 84px;
}
.index .about {
  text-align: center;
}
.index .about .title {
  margin-bottom: 40px;
}
.index .about .photo {
  margin-bottom: 20px;
}
.index .about .introduction, .index .about .experience {
  line-height: 42px;
  font-weight: 700;
}
.index .about .introduction .school, .index .about .experience .school {
  line-height: 1.5;
}
.index .about .line {
  max-width: 384px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #000;
  margin-top: 24px;
  margin-bottom: 28px;
}
.index .about .experience {
  margin-bottom: 56px;
}
.index .about .experience .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index .about .experience .text::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  background: #891818;
  margin-right: 16px;
  border-radius: 100%;
}
.index .about .experience li:not(:last-child) {
  margin-bottom: 28px;
}
.index .brand {
  background: #000;
  color: white;
  padding-top: 56px;
  padding-bottom: 160px;
}
.index .brand .title {
  text-align: center;
  margin-bottom: 12px;
}
.index .brand .subtitle {
  text-align: center;
  line-height: 42px;
  margin-bottom: 32px;
}
.index .brand .text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 68px;
}
.index .brand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}
.index .brand__list img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.index .brand__list img:hover {
  opacity: 0.7;
}
.index .other {
  padding-top: 56px;
  padding-bottom: 144px;
  text-align: center;
}
.index .other .title {
  margin-bottom: 16px;
}
.index .other .subtitle {
  margin-bottom: 56px;
}
.index .other__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 48px;
}
.index .other__list img {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.w-33 {
  width: 33.333%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}