
.footer {
  color: white;
  background: #000;
  padding: 64px 0;
  text-align: center;

  &__title {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 16px;
  }

  .contact {

    li:not(:last-child) {
      margin-bottom: 16px;
    }

    &__link {
      color: white;
      text-decoration: none;
      transition: all 0.5s;

      &:hover {
        color: blue;
      }
    }
  }
}
