.header {
  padding-top: 308px;
  padding-bottom: 308px;
  background: url("https://github.com/PeterCHEN-JIANRONG/html-2022-week2/blob/main/image/banner.png?raw=true");
  background-size:cover;
  background-position: center center;
  display: flex;
  justify-content: center;

  &__wrap {
    color: white;
  }

  &__title {
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__small {
    line-height: 42px;
    font-weight: 700;
  }

  .social {
    display: flex;
    gap: 16px;

    &__link {
      transition: all 0.4s;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}